@import "tailwindcss";

#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: lightblue;
}
.label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}